version: '3.8'

services:
  backend:
    build:
      context: ./backend/my-app
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      PORT: "3000"

  frontend:
    build:
      context: ./frontend/vite-project
    ports:
      - "80:80"
    environment:
      NODE_ENV: development
    depends_on:
      - backend

